DATABASE_URL=postgresql://framm:framm@localhost:5432/framm
AUTH_SECRET=dev-secret-change-in-production
AUTH_URL=http://localhost:3000
PLATFORM_DOMAINS=kod-digor.bzh
WEBMAIL_URL=https://webmail.kod-digor.bzh
STALWART_URL=https://mail.kod-digor.bzh
STALWART_API_KEY=
S3_ENDPOINT=https://s3.fr-par.scw.cloud
S3_REGION=fr-par
S3_BUCKET_UPLOADS=
S3_ACCESS_KEY=
S3_SECRET_KEY=
BUREAU_ADMIN_EMAIL=
BUREAU_ADMIN_PASSWORD=
